*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background: url("imagens/email-pattern.png");
    color: whitesmoke;
}


/*Menu*/
.menu-bar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    border-style: none none solid none;
    border-color: #009EC2;
    height: 70px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.logo {
    display: inline-block;
    width: 130px;
}

.logo a {
    display: inline-block;
    height: 70px;
    padding: 10px;
}

.logo img {
    width: 130px;
}

/*Menu  toggle*/
.caixa-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.botao-toggle {
    display: inline-block;
    width: 50px;
    height: 40px;
    margin: auto  15px;
    border: #838383 solid;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.botao-toggle:hover{
    border: #009EC2 solid;
    transition: 0.3s ease-in;
}

.botao-toggle:hover > div{
    background-color: #009EC2;
    transition: 0.3s ease-in;
}



.barra-toggle {
    width: 35px;
    height: 5px;
    margin: 5px auto;
    background-color: #c2c2c2;
}

.toggle {
    position: fixed;
    top: 70px;
    width: 100%;
    right: -100%;
    height: 0px;
    transition: 0.5s ease;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #292929;
    border-style: none none none solid;
    border-color: #009EC2;
    box-shadow: -2px 10px 10px rgb(174, 229, 255);
    z-index: 9;
    }   

ul {
    list-style: none;
    padding: 10px 10px;
}

#close {
    display: inline-block;
    border: #009EC2 solid 2px;
    border-radius: 5px;
    color: #009EC2;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

#li-close {
    margin-top: 0;
}

li {
    margin: 50px 20px;
}

li a img {
    width: 13%;
    margin: auto 5px;
}


/*Container e apendices*/
.container {
    width: 90%;
    margin: 30px auto;
}

.caixa {
    background-color: #333;
    padding: 50px;
    margin-top: 20px;
    border-radius: 5px;    
}

h4 {
    font-size: 1.1rem;
    margin: 15px auto;
    color: #4AD8F7;
}

#aviso {
    font-size: 0.7rem;
    display: block;
    width: 90%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
}

p {
    margin: 10px auto;
    font-size: 0.85rem;
    line-height: 1.4rem;
}

#descobrir-peso-ideal {
    font-weight: 800;
}

input[type="text"], input[type="number"] {
    margin: 20px auto;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    color: #236675;
}

input:focus {
    border: solid #4AD8F7;
    box-shadow: #4AD8F7 0px 1px 15px ;
    outline: none;
}

label {
    font-size: 0.9rem;
}

.sexo {
    margin: 10px auto;
}
.sexo p {
    margin: 5px auto;
    
}

.dados {
    padding: 15px 0;
}

.dados div {
    margin: 10px auto;
}

button {
    display: block;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    color: #222;
    font-size: 1rem;
    background-color: turquoise;
}

button:hover {
    cursor: pointer;
    background-color: #00f7ff;
    transition: 0.4s linear;
}

footer {
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
    background-color: #292929;
    border-style: solid none none none;
    border-color: #009EC2;
    box-shadow: 0px -1px 15px black;
    text-align: center;
}

a {
    display: inline;
    color: rgb(255, 255, 255);
}

.redes img {
    width: 25px;
}

#res {
    margin: 10px auto;
    border: solid 2px #ffffff;
    border-radius: 5px;
    padding: 10px;
}


strong {
    font-weight: bold;
    color: turquoise;
}

@media  (min-width: 480px) {
    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.6px;
    }

    label {
        font-size: 1rem;
    }

    #aviso {
        font-size: 0.8rem;
    }

    .nav {
        width: 40%;
        margin-left: 60%;
    }
    
    .flex {
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
 
    .flex {
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .coluna {
        max-width: 750px;
        margin: auto;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.6px;
    }

    label {
        font-size: 1rem;
    }

    #aviso {
        font-size: 0.8rem;
    }

    .botao-toggle {
        display: none;
    }
    
    .toggle {
        position: static;
    }

    .caixa-menu {
        display: flex;
        justify-content: space-between;
        max-width: 769px;
        width: 769px;
        margin: auto;
    }
    
    .nav {
        position: static;
        width: 400px;
        height: 67px;
        margin-left: auto;
        background-color: #292929;
        border:none;
        box-shadow: none;
        }   
    
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        height: 100%;
        list-style: none;
        padding: 10px 0;
    }
    
  
    #li-close {
        display: none;
    }
    
    li {
        display: block;
        margin: 0px 10px;
    }

    li a {
        text-decoration: none;
    }

    li a:hover {
        color: #009EC2;
        transition: 0.4s ease;
    }
    
    li a img {
        width: 20px;
        margin: auto 5px;
    }
    
}